<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
    <link rel="stylesheet" href="../styles/addWindow.css">
</head>
<body>

    <form class="form">
        <div class="left-form">
            <div class="flex">
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Nombres</span>
                </label>
        
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Apellidos</span>
                </label>
            </div>
            
            <label>
                <input required="" type="tel" placeholder="" class="input">
                <span>Rut (sin puntos ni guion)</span>
            </label>  
                    
            <label>
                <input required="" placeholder="" type="email" class="input">
                <span>Correo electronico</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Direccion</span>
            </label> 
                
            <label>
                <input required="" type="tel" placeholder="" class="input">
                <span>Numero de contacto</span>
            </label>
            <label>
                <input required="" type="tel" placeholder="" class="input">
                <span>Salario</span>
            </label>  
            <label>
                <input required="" type="tel" placeholder="" class="input">
                <span>Fecha Contratacion (dd-mm-aaaa)</span>
            </label>
            <button class="fancy" href="#">
                <span class="top-key"></span>
                <span class="text">Crear</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
            </button>
        </div>
        <div class="right-form">  
            <label for="opcion">Cargo</label>
            <select id="opcion" name="opcion" class="custom-select">
                <option value="opcion1">Supervisor</option>
                <option value="opcion2">Capatas</option>
                <option value="opcion3">CEO</option>
            </select>

            <label for="opcion">Departamento</label>
            <select id="opcion" name="opcion" class="custom-select">
                <option value="opcion1">Supervisor</option>
                <option value="opcion2">Capatas</option>
                <option value="opcion3">CEO</option>
            </select>

            <label for="opcion">Sede</label>
            <select id="opcion" name="opcion" class="custom-select">
                <option value="opcion1">Supervisor</option>
                <option value="opcion2">Capatas</option>
                <option value="opcion3">CEO</option>
            </select>

            <label for="opcion">Proyecto</label>
            <select id="opcion" name="opcion" class="custom-select">
                <option value="opcion1">Supervisor</option>
                <option value="opcion2">Capatas</option>
                <option value="opcion3">CEO</option>
            </select>

            <label for="opcion">Asignacion Beneficios</label>
            <select id="opcion" name="opcion" class="custom-select">
                <option value="opcion1">Supervisor</option>
                <option value="opcion2">Capatas</option>
                <option value="opcion3">CEO</option>
            </select>
        </div>  
        
    </form>

</body>
</html>