<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
    <link rel="stylesheet" href="../styles/addWindow.css">
</head>
<body>

    <form class="form" action="http://localhost:3000/procesar_formulario" method="post">
        <div class="left-form">
        
                <label>
                    <input required="" placeholder="" type="text" class="input" name="nombre">
                    <span>Nombre Completo</span>
                </label>
      
                <label>
                    <input required="" type="tel" placeholder="" class="input" name="rut">
                    <span>Rut (sin puntos ni guion)</span>
                </label>  
                  
                <label>
                    <input required="" placeholder="" type="email" class="input" name="correo">
                    <span>Correo electrónico</span>
                </label>
    
                <label>
                    <input required="" placeholder="" type="text" class="input" name="direccion">
                    <span>Dirección</span>
                </label> 
              
            <label>
                <input required="" type="tel" placeholder="" class="input" name="numero_contacto">
                <span>Número de contacto</span>
            </label>
            <label>
                <input required="" type="tel" placeholder="" class="input" name="salario">
                <span>Salario</span>
            </label>  
            <label>
                <input required="" type="tel" placeholder="" class="input" name="fecha_contratacion">
                <span>Fecha Contratación (dd-mm-aaaa)</span>
            </label>
            <button class="fancy" href="#">
                <span class="top-key"></span>
                <span class="text">Crear</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
            </button>
        </div>
        <div class="right-form">  
            <label for="opcion">Cargo</label>
            <select id="opcion" name="cargo" class="custom-select">
                <option value="1">Supervisor</option>
            </select>
            <label for="opcion">Departamento</label>
            <select id="opcion" name="departamento" class="custom-select">
                <option value="1">Contabilidad</option>
            </select>
        
            <label for="opcion">Sede</label>
            <select id="opcion" name="sede" class="custom-select">
                <option value="1">Santiago</option>
            </select>
        
            <label for="opcion">Proyecto</label>
            <select id="opcion" name="proyecto" class="custom-select">
                <option value="1">Construcción Costanera</option>
            </select>
        </div>
      </form>

</body>
</html>